<div class="header-bar">
    <div class="header-item">
        <a href="/static" class="btn btn-sm btn-danger username-button">
            <i class="fas fa-user"></i>&nbsp;&nbsp;{{ request.session.get("member_name") }}
        </a>
    </div>
    <h1>{{ title_header }}</h1>
    <div class="header-item">
        <button onclick="signout()" class="btn btn-sm btn-danger logout-button">
            <i class="fas fa-sign-out-alt"></i>&nbsp;로그아웃
        </button>
    </div>
</div>
<script src="/static/js/common/signout.js"></script>