<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Shop Service - Orders</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', path='/css/header.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', path='/css/orders.css') }}"/>
    <script>
        function createOrder() {
            fetch('/api/orders', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(
                    {
                        product_id: 1,
                        quantity: 1
                    }
                )
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    window.location.reload();
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }

        function cancelOrder(id) {
            if (!confirm('주문을 취소하시겠습니까?')) {
                return;
            }
            fetch('/api/orders/' + id, {
                method: 'DELETE',
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    window.location.reload();
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }

        function signout() {
            fetch('/api/members/signout', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    window.location.href = '/';
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }
    </script>
</head>
<body>
<div class="container">
    {% include "header.html" %}
</div>
</body>
</html>
