<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    {% include "common/upgrade-requests.html" %}
    <title>{{ title_page }}</title>
    {% include "common/external.html" %}
    {% include "common/font.html" %}
    <link
            rel="stylesheet"
            type="text/css"
            href="/static/css/header.css"
    />
    <link
            rel="stylesheet"
            type="text/css"
            href="/static/css/orders.css"
    />
</head>
<body>
<div class="container">
    {% include "common/header.html" %}
    <div class="card">
        <div class="card-body">
            <select id="options-product" class="form-control" onchange="handlerOnChangeOptions(event)">
                <option value="" data-price="0">상품을 선택해주세요</option>
                {% for product in products %}
                    {% if product.stock > 0 %}
                        <option
                                value="{{ product.id }}"
                                data-price="{{ product.price }}"
                                data-stock="{{ product.stock }}"
                        >
                            {{ product.name }} (재고: {{ product.stock }})
                        </option>
                    {% endif %}
                {% endfor %}
            </select>
            <input
                    type="number"
                    id="quantity"
                    class="form-control order-quantity"
                    placeholder="주문 수량"
                    min="1"
                    onchange="handlerOnChangeQuantity(event)"
            />
            <p id="total-price" class="mt-3"></p>
            <input
                    type="text"
                    id="address"
                    class="form-control address"
                    placeholder="배송 주소"
            />
            <button onclick="createOrder()" class="btn btn-primary btn-block">주문하기</button>
        </div>
    </div>
    {% for order in orders %}
        <div class="card order">
            <p>주문 상태: {{ order.order_status }} ({{ (order.updated_at or order.created_at) | convert_datetime() }})</p>
            {% if order.order_status == "주문 취소" %}
                <p>주문 취소 일시: {{ order.updated_at | convert_datetime() }}</p>
            {% endif %}
            <p>배송 상태: {{ order.delivery_status }}
                {% if not (order.delivery_status == "취소" or order.delivery_status == "배송 대기") %}
                    ({{ order.delivery_updated_at | convert_datetime() }})
                {% endif %}
            </p>
            <h2>주문 번호 {{ order.order_id }}</h2>
            <h4>배송 주소</h4>
            <h5>{{ order.address }}</h5>
            <div class="card-body">
                {% for product in order.products %}
                    <input
                            type="text"
                            id="name-{{ product.id }}"
                            class="form-control"
                            value="상품명: {{ product.name }}"
                            readonly
                    />
                    <input
                            type="text"
                            id="unit-price-{{ product.id }}"
                            class="form-control"
                            value="상품 가격: {{ "{:,d}원".format(product.price) }}"
                            readonly
                    />
                    <input
                            type="text"
                            id="quantity-{{ product.id }}"
                            class="form-control"
                            value="주문 수량: {{ "{:,d}개".format(product.quantity) }}"
                            readonly
                    />
                    <hr/>
                    <input
                            type="text"
                            id="total-price-{{ product.id }}"
                            class="form-control"
                            value="총 주문 금액: {{ "{:,d}원".format(product.price * product.quantity) }}"
                            readonly
                    />
                {% endfor %}
                {% if not
                      (
                          order.order_status == "주문 취소"
                          or
                          order.order_status == "결제 완료"
                      ) %}
                    <div class="edit-buttons">
                        <button
                                onclick="cancelOrder({{ order.order_id }})"
                                class="btn btn-cancel"
                        >
                            <i class="fas fa-ban"></i>&nbsp;&nbsp;주문 취소
                        </button>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
<script src="/static/js/orders.js"></script>
</body>
</html>
