<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>{{ title_page }}</title>
    {% include "common/font.html" %}
    <link
            rel="stylesheet"
            type="text/css"
            href="/static/css/signin.css"
    />
</head>
<body>
<div class="container">
    {% include "common/introduce_landing.html" %}
    <form id="signinForm" onsubmit="submitSigninForm(event)">
        <div class="form-group">
            <label for="email">이메일:</label>
            <input type="text" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">비밀번호:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="buttons">
            <button type="submit">로그인</button>
        </div>
    </form>
    <div class="buttons">
        <button type="button" class="navigate" onclick="location.href='/signup'">회원가입</button>
    </div>
</div>
<script src="/static/js/signin.js"></script>
</body>
</html>
