<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    {% include "common/upgrade-requests.html" %}
    <title>{{ title_page }}</title>
    {% include "common/external.html" %}
    {% include "common/font.html" %}
    <link
            rel="stylesheet"
            type="text/css"
            href="/static/css/admin/header.css"
    />
    <link
            rel="stylesheet"
            type="text/css"
            href="/static/css/admin/orders.css"
    />
</head>
<body>
<div class="container">
    {% include "admin/header.html" %}
    {% for order in orders %}
        <div class="card order">
            <p>주문 상태: {{ order.order_status }} ({{ order.updated_at or order.created_at }})</p>
            {% if order.order_status == "주문 취소" %}
                <p>주문 취소 일시: {{ order.updated_at }}</p>
            {% endif %}
            <p>배송 상태: {{ order.delivery_status }}
                {% if not (order.delivery_status == "취소" or order.delivery_status == "배송 대기") %}
                    {{ order.delivery_updated_at }}
                {% endif %}
            </p>
            <h2>주문 번호 {{ order.order_id }}</h2>
            <h4>배송 주소</h4>
            <h5>{{ order.address }}</h5>
            <div class="card-body">
                {% for product in order.products %}
                    <input
                            type="text"
                            id="member-id-{{ order.member_id }}"
                            class="form-control"
                            value="회원 번호: {{ order.member_id }}"
                            readonly
                    />
                    <input
                            type="text"
                            id="name-{{ product.id }}"
                            class="form-control"
                            value="상품명: {{ product.name }}"
                            readonly
                    />
                    <input
                            type="text"
                            id="unit-price-{{ product.id }}"
                            class="form-control"
                            value="상품 가격: {{ "{:,d}원".format(product.price) }}"
                            readonly
                    />
                    <input
                            type="text"
                            id="quantity-{{ product.id }}"
                            class="form-control"
                            value="주문 수량: {{ "{:,d}개".format(product.quantity) }}"
                            readonly
                    />
                    <hr/>
                    <input
                            type="text"
                            id="total-price-{{ product.id }}"
                            class="form-control"
                            value="총 주문 금액: {{ "{:,d}원".format(product.price * product.quantity) }}"
                            readonly
                    />
                {% endfor %}
                <div class="edit-buttons">
                    {% if not
                          (
                              order.order_status == "주문 취소"
                              or
                              (
                                  order.order_status == "결제 완료"
                                  and
                                  order.delivery_status == "배송 완료"
                              )
                          ) %}
                        <button
                                class="btn btn-confirm"
                                onclick="putOrderStatus({{ order.order_id }}, 'canceled')"
                        >
                            <i class="fas fa-ban"></i>&nbsp;&nbsp;주문 취소
                        </button>
                        <button
                                class="btn btn-confirm"
                                onclick="putOrderStatus({{ order.order_id }}, 'proceeding')"
                        >
                            <i class="fas fa-play-circle"></i>&nbsp;&nbsp;주문 진행
                        </button>
                        <button
                                class="btn btn-confirm"
                                onclick="putOrderStatus({{ order.order_id }}, 'completed')"
                        >
                            <i class="fas fa-check-circle"></i>&nbsp;&nbsp;결제 완료
                        </button>
                        <button
                                class="btn btn-confirm"
                                onclick="putOrderDeliveryStatus({{ order.order_id }}, 'pending')"
                        >
                            <i class="fas fa-pause-circle"></i>&nbsp;&nbsp;배송 대기
                        </button>
                        <button
                                class="btn btn-confirm"
                                onclick="putOrderDeliveryStatus({{ order.order_id }}, 'proceeding')"
                        >
                            <i class="fas fa-truck"></i>&nbsp;&nbsp;배송 진행
                        </button>
                        <button
                                class="btn btn-confirm"
                                onclick="putOrderDeliveryStatus({{ order.order_id }}, 'completed')"
                        >
                            <i class="fas fa-user-check"></i>&nbsp;&nbsp;배송 완료
                        </button>
                    {% else %}
                        <button
                                class="btn btn-delete"
                                onclick="deleteOrder({{ order.order_id }})"
                        >
                            <i class="fas fa-trash-alt"></i>&nbsp;&nbsp;주문 이력 삭제
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<script src="/static/js/admin/orders.js"></script>
</body>
</html>
