<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>{{ title_page }}</title>
    {% include "common/external.html" %}
    {% include "common/font.html" %}
    <link
            rel="stylesheet"
            type="text/css"
            href="/static/css/admin/header.css"
    />
    <link
            rel="stylesheet"
            type="text/css"
            href="/static/css/admin/orders.css"
    />
</head>
<body>
<div class="container">
    {% include "admin/header.html" %}
    {% for order in orders %}
        <div class="card order">
            <h2>주문 번호: {{ order.order_id }}</h2>
            <div class="card-body">
                {% for product in order.products %}
                    <input
                            type="text"
                            id="member-id-{{ order.member_id }}"
                            class="form-control"
                            value="회원 번호: {{ order.member_id }}"
                            readonly
                    />
                    <input
                            type="text"
                            id="name-{{ product.id }}"
                            class="form-control"
                            value="상품명: {{ product.name }}"
                            readonly
                    />
                    <input
                            type="text"
                            id="unit-price-{{ product.id }}"
                            class="form-control"
                            value="상품 가격: {{ product.price }}원"
                            readonly
                    />
                    <input
                            type="text"
                            id="quantity-{{ product.id }}"
                            class="form-control"
                            value="주문 수량: {{ product.quantity }}개"
                            readonly
                    />
                    <hr/>
                    <input
                            type="text"
                            id="total-price-{{ product.id }}"
                            class="form-control"
                            value="총 주문 금액: {{ product.price * product.quantity }}원"
                            readonly
                    />
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
<script src="/static/js/admin/orders.js"></script>
</body>
</html>
